# Homework 6 for Niko Darby

Attached an Excel spreadsheet that has two worksheets, "main" and "another". Each worksheet has data and visualizations. Worksheet "main" has a "patient id" column; and worksheet "another" has a "p_id" column. The "patient id" values in "main" tab are the same variable as "p_id" in "another".

Submit a notebook that reads the Excel spreadsheet and produces a separate spreadsheet with the following modifications:

1. Use openpyxl to copy patients from "another" to "main"

2. For patients on "another" that don't exist in "main," create new rows in "main"

3. Make no changes to the visualizations that exist in each worksheet.

4. Make no changes to the data on "another".

5. Write your changes to a new .xlsx file (don't overwrite the original)

Some helpful observations:

* "main" worksheet will have three new columns (because those columns exist in the "another" worksheet)

* "main" worksheet will have new rows (one row per patient)

* There will be empty cells in "main" worksheet

* Use a programmatic (rather than manual) approach to identify which patients appear in both worksheets

* Some cells in both worksheets contain formulas. Copy only values from "another" to "main"

In [2]:
import pandas as pd

data = pd.read_excel(r'week_05_homework_XLSX_openpyxl.xlsx')
data

    patient id  age  smoking  smart  asdf  min im
0        95909   51        1     10     8   17.50
1        10369   49        1      8     8   16.50
2        35101   56        3     12    24   23.75
3        25192   47        3     12    24   21.50
4        75658   50        3     10    24   21.75
5        25765   55        2     12    16   21.25
6        57464   52        1     11     8   18.00
7        14530   50        2      8    16   19.00
8        21888   52        2      9    16   19.75
9        43631   53        2      8    16   19.75
10       14528   55        1      8     8   18.00
11       70171   58        3     10    24   23.75
12       14654   58        2     10    16   21.50
13       81574   50        3      9    24   21.50
14       67203   52        1     12     8   18.25
15       19792   48        2      9    16   18.75
16       95847   56        2      9    16   20.75
17       21922   52        3     10    24   22.25
18       49434   48        1     10     8   16.75
19       64334   50        2     11    16   19.75
20       11988   49        2     12    16   19.75
21       51090   46        3      9    24   20.50
22       72970   49        3     10    24   21.50
23       57054   50        1     12     8   17.75